#logo_aseguradora

%h1 Listing claims

%table
  %thead
    %tr
      %th Date
      %th Number
      %th Amount
      %th Description
      %th Policy
      %th Client
      %th Vehicle
      %th Claim type
      %th Claim status
      %th
      %th
      %th

  %tbody
    - @claims.each do |claim|
      %tr
        %td= claim.date
        %td= claim.number
        %td= claim.amount
        %td= claim.description
        %td= claim.policy
        %td= claim.client
        %td= claim.vehicle
        %td= claim.claim_type
        %td= claim.claim_status
        %td= link_to 'Show', claim
        %td= link_to 'Edit', edit_claim_path(claim)
        %td= link_to 'Destroy', claim, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


