%p#notice= notice

%p
  %b Date:
  = @claim.date
%p
  %b Number:
  = @claim.number
%p
  %b Amount:
  = @claim.amount
%p
  %b Description:
  = @claim.description
%p
  %b Policy:
  = @claim.policy
%p
  %b Client:
  = @claim.client
%p
  %b Vehicle:
  = @claim.vehicle
%p
  %b Claim type:
  = @claim.claim_type
%p
  %b Claim status:
  = @claim.claim_status

= link_to 'Edit', edit_claim_path(@claim)
\|
= link_to 'Back', claims_path
