
#Loader
%script{:type => "text/javascript"}
  $("#Loader").fakeLoader({timeToHide:4000, zIndex:"19", spinner:"spinner2", bgColor:"#2C3E50"});

= render 'searches/sidebar'        
        
#results

  #client_report.page{:unactive => "#{@client.nil?}"}
    - if @client
    
      .main_block
        .info
          %h2= [@client.name, @client.surname].join(' ')
          - if @client.identification
            %h4.identification <span>Cédula</span> #{@client.identification.insert(3, '-').insert(11, '-')}
          - if @client.gender
            %h4.sex <span>Sexo</span> #{get_gender @client.gender}
          - if @client.birthdate
            %h4.birthdate <span>Edad</span> #{age @client.birthdate}
          - if @client.occupation
            %h4.job <span>Ocupación</span> #{@client.occupation}
          - if @client.sector
            %h4.sector <span>Sector</span> #{@client.sector.name}
        = link_to 'Imprimir', '#', :class => "print"
     
        
      .breaker= @policies.count.to_s + " Pólizas"   
      - unless @policies.empty? 
        - @policies.order("start desc").each do |p|
          .block
            .block_header
              .policy_number= 'Póliza # ' + p.policy
              .insurance_name= p.insurance.company
              .coverage_type= get_coverage p.coverage
              .claims_count
                .bubble= p.claims.count.to_s 
                %span  reclamaciones
              .end_date= p.end.strftime("%d/%b/%Y")            
              .start_date= p.start.strftime("%d/%b/%Y")
            %table{:cellpading => '0', :cellspacing => 0}
              - unless p.claims.empty? 
                %tr
                  %th No. Reclamación
                  %th Vehículo
                  %th Placa
                  %th Chasis
                  %th Fecha
                  %th Tipo
                  %th Estado  
                - p.claims.order("created_at desc").each do |c|
                  %tr{:class => cycle('odd', 'even')}
                    %td= c.number
                    %td= [c.vehicle.vehicle_model.vehicle_brand.name,c.vehicle.vehicle_model.name,c.vehicle.year.to_s].join(' ')
                    %td= c.vehicle.plate
                    %td= c.vehicle.vin
                    %td= c.date.strftime("%d/%b/%Y")
                    %td= c.claim_type.name
                    %td= c.claim_status.status
              - else
                %td.none_found No se encontraron reclamaciones.
		
      - if @tickets
        #multas.breaker Multas
        = raw @tickets
    
      - if @client_history
        %ul.history
          - @client_history.each do |h|
            %li Consultado por #{h.user.insurance.company} el #{h.date.strftime("%d/%m/%Y")}
      - else
        %ul
          %li.none No hay historial.







  #company_report.page{:unactive => "#{@company.nil?}"}  
    - if @company

      .main_block
        .info
          %h2= @company.name
          - if @company.rnc
            %h4 <span>RNC</span> #{@company.rnc.insert(3, '-').insert(7, '-')}
        = link_to 'Imprimir', '#', :class => "print"






      
  #vehicle_report.page{:unactive => "#{@vehicle.nil?}"}  
    - if @vehicle
    
      .main_block
        .info
          %h2= [@vehicle.vehicle_model.vehicle_brand.name, @vehicle.vehicle_model.name, @vehicle.year.to_s].join(' ')
          - if @vehicle.plate
            %h4 <span>Placa</span> #{@vehicle.plate}
          - if @vehicle.vin
            %h4 <span>VIN</span> #{@vehicle.vin}

        = link_to 'Imprimir', '#', :class => "print"
    
    
      .breaker= @vehicle.policies.count.to_s + " pólizas"
      - unless @vehicle.policies.empty?    
        - @vehicle.policies.order("start desc").each do |p|
          .block
            .block_header
              .policy_number= 'Póliza #' + p.policy
              .insurance_name= p.insurance.company
              .coverage_type= get_coverage p.coverage
              .claims_count
                .bubble= p.claims.count.to_s 
                %span  reclamaciones
              .end_date= p.end.strftime("%d/%b/%Y")            
              .start_date= p.start.strftime("%d/%b/%Y")
            .block_subheader= get_client_details(p)
            %table{:cellpading => '0', :cellspacing => 0}
              - unless p.claims.empty?
                %tr
                  %th No. Reclamación
                  %th Vehículo
                  %th Placa
                  %th Chasis
                  %th Fecha
                  %th Tipo
                  %th Estado  
                - p.claims.order("created_at desc").each do |c|
                  %tr{:class => cycle('odd', 'even')}
                    %td= c.number
                    %td= [c.vehicle.vehicle_model.vehicle_brand.name,c.vehicle.vehicle_model.name,c.vehicle.year.to_s].join(' ')
                    %td= c.vehicle.plate
                    %td= c.vehicle.vin
                    %td= c.date.strftime("%d/%b/%Y")
                    %td= c.claim_type.name
                    %td= c.claim_status.status
              - else
                %td.none_found No se encontraron reclamaciones.

#print_footer
  %p *** Fin de página ***
  
#printed_by=  ['Impreso por',current_user.name, current_user.surname, 'de', current_user.insurance.company].join(' ')
        

