#main_logo

= form_for @search, :id => 'search' do |f|
  = f.text_field :client, :placeholder => 'Identificación o RNC'
  = f.text_field :vehicle, :placeholder => 'Placa o VIN'
  = f.submit "Buscar", :name => nil
  
= render "layouts/footer"